.brand__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brand__container div {
  flex: 1;
  margin:0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
   max-width: 71px;
  min-width: 61px;
}

.brand__container img {
  max-width: 71px;
  min-width: 61px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
